<h2>Reviews</h2>
<div class="noticias">
   <a href="https://www.youtube.com/" target="_blank"><img src="images/reviews/nintendo.jpg" alt=""></a>
    <div class="nota">
        <h4>nintendo</h4>
        <p> Probamos juntos a juan la nueva consola de nintendo y te damos toda la ultima informacion, mira el video
            haciendo click en la imagen que te lleva directo a nuestras plataformas en vivo.</p>
    </div>
</div>
<div class="noticias">
    <a href="https://www.youtube.com/" target="_blank"><img src="images/reviews/xbox.jpg" alt=""></a>
    <div class="nota">
        <h4>xbox</h4>
        <p>Probamos juntos a maria la nueva consola de xbox y te damos toda la ultima informacion, mira el video
            haciendo click en la imagen que te lleva directo a nuestras plataformas en vivo.</p>
    </div>
</div>
<div class="noticias">
   <a href="https://www.youtube.com/" target="_blank"><img src="images/reviews/playstation.jpg" alt=""></a>
    <div class="nota">
        <h4>playstation</h4>
        <p>Probamos juntos a andre la nueva consola de playstation y te damos toda la ultima informacion, mira el video
            haciendo click en la imagen que te lleva directo a nuestras plataformas en vivo.</p>
    </div>
</div>
<div class="noticias">
    <a href="https://www.youtube.com/" target="_blank"><img src="images/reviews/space invaders.jpg" alt=""></a>
    <div class="nota">
        <h4>space</h4>
        <p>Probamos juntos a pedro el nuevo juego de los creadores de space y te damos toda la ultima informacion, mira
            el video haciendo click en la imagen que te lleva directo a nuestras plataformas en vivo.</p>
    </div>
</div>

<div class="noticias">
    <a href="https://www.youtube.com/" target="_blank"><img src="images/reviews/tortugas ninjas.jpg" alt=""></a>
    <div class="nota">
        <h4>las tortugas ninjas</h4>
        <p>Probamos juntos a pedro el nuevo juego de los creadores de las tortugas ninjas y te damos toda la ultima informacion, mira
            el video haciendo click en la imagen que te lleva directo a nuestras plataformas en vivo.</p>
    </div>
</div>