<div class="programacion">
            <h2>Programacion</h2>
            <div class="horario">
                <p>recorda seguir a nuestros streamers por youtube, instagram twitch, etc</p>
                <p>nuestros horarios de emision son desde las 22:00 hs hasta las 2:00 am todos los dias, no tenemos
                    feriados
                </p>
            </div>
        </div>
        <h2>streamers</h2>        
        <div class="streamers">
            
            <div class="staff">
                <img src="images/streamers/juan.jpg" alt="">
                <h5>juan perez</h5>
                <h6><a href="https://www.youtube.com/" target="_blank"> juegos de terror</a></h6>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. In dolores, odit ipsa iste labore veritatis.
                    Ratione quia expedita esse nihil rerum nemo eaque id quasi, eius labore dolores quas quo.</p>
            </div>
            <div class="staff">
                <img src="images/streamers/maria.jpg" alt="">
                <h5>maria maria</h5>
                <h6><a href="https://www.youtube.com/" target="_blank"> juegos fpv</a></h6>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. In dolores, odit ipsa iste labore veritatis.
                    Ratione quia expedita esse nihil rerum nemo eaque id quasi, eius labore dolores quas quo.</p>
            </div>
            <div class="staff">
                <img src="images/streamers/andrea.jpg" alt="">
                <h5>andrea peres</h5>
                <h6><a href="https://www.youtube.com/" target="_blank"> juegos de deportes</a></h6>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. In dolores, odit ipsa iste labore veritatis.
                    Ratione quia expedita esse nihil rerum nemo eaque id quasi, eius labore dolores quas quo.</p>
            </div>
            <div class="staff">
                <img src="images/streamers/pedro.jpg" alt="">
                <h5>pedro pepito</h5>
                <h6><a href="https://www.youtube.com/" target="_blank"> juegos de aventura</a></h6>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. In dolores, odit ipsa iste labore veritatis.
                    Ratione quia expedita esse nihil rerum nemo eaque id quasi, eius labore dolores quas quo.</p>
            </div>
        </div>
