@media screen and (min-width: 230px) and (max-width: 800px){
body {
    padding: 0px;
    margin: 0px;
}
}
.contenedor{
    width: 100%;
}

body{
    font-size: 24px;
}

h1{
    text-align: center;
    color: blue;
    font-style: italic;
    text-decoration: underline;
}

img{
    margin-bottom: 40px;
    margin-left: 500px;
    margin-top: 40px;
}

h3{
    text-align: center;
    background-color: rgb(237, 237, 177);
    font-style: oblique;
    font-family: arial;
}

h4{
    color: red;
    text-decoration: underline;
}

p{
    margin-left: 0px;
    margin-bottom: 0px;
    margin-right: 00px;
    font-size: 70%;
}

#verde{
    width: 430px;
    height: 50px;
    background-color: rgb(77, 239, 77);
}

.fecha{
    font-style: oblique;
    font-weight: 600;
}

li{
    font-size: 20px;
}

section {
	background: #f0f372;
	float: left;
	margin: 0 0 0 25px;
	width: 350px;
}
aside {
	background: #42e895;
	float: right;
	width: 400px;
}
nav {
	background: #fe987b;
	float: left;
	width: 180px;
}   