body{
    font-size: 24px;
}

h1{
    text-align: center;
    color: blue;
    font-style: italic;
    text-decoration: underline;
}

img{
    margin-bottom: 40px;
    margin-left: 510px;
    margin-top: 40px;
    filter: grayscale(19%) sepia(49%) brightness(79%);
-webkit-filter: grayscale(19%) sepia(49%) brightness(79%);
-moz-filter: grayscale(19%) sepia(49%) brightness(79%);
}

h3{
    text-align: center;
    background-color: rgb(237, 237, 177);
    font-style: oblique;
    font-family: arial;
}

h4{
    color: red;
    text-decoration: underline;
    font-family: 'Stick No Bills', sans-serif; 
}

p{
    margin-left: 40px;
    margin-bottom: 40px;
    margin-right: 60px;
    font-size: 70%;
}

#verde{
    width: 450px;
    height: 90px;
    background-color: rgb(77, 239, 77);
    border: 2px dashed black;
    
}

.fecha{
    font-style: oblique;
    font-weight: 600;
}

li{
    font-size: 20px;
    font-family: 'Amatic SC', cursive;
}
.sipnosis{
    column-count: 3;
}
.resumen1{
    background-color: aqua;
    box-shadow: 39px 26px 0px -2px rgba(240,27,27,0.62);
    -webkit-box-shadow: 39px 26px 0px -2px rgba(240,27,27,0.62);
    -moz-box-shadow: 39px 26px 0px -2px rgba(240,27,27,0.62);
}
.resumen2{
    background-color: yellow;
    border-radius: 97px 39px 27px 10px;
-webkit-border-radius: 97px 39px 27px 10px;
-moz-border-radius: 97px 39px 27px 10px;
border: 10px double #f450ff;
}
.resumen3{
    background-color: ;
    background: #00e9ff;
background: repeating-radial-gradient(ellipse farthest-corner at center center, #00e9ff 5%, #00ff00 30%);
background: -webkit-repeating-radial-gradient(ellipse farthest-corner at center center, #00e9ff 5%, #00ff00 30%);
background: -moz-repeating-radial-gradient(ellipse farthest-corner at center center, #00e9ff 5%, #00ff00 30%);
}
.compartir{
    color: greenyellow;
    font-size: 90px;
}