        <div class="slider">
            <ul>
                <li><img src="images/home.jpg" alt=""></li>
                <li><img src="images/home2.jpg" alt=""></li>
                <li><img src="images/home 3.jpg" alt=""></li>
            </ul>
        </div>
        <div class="columnas">
            <div class="novedades">
                <h2> Reviews</h2>
                <div class="cuadrados">

                    <h4>sabado</h4>
                    <img src="images/estrenos/f12022.jpg" alt="">
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aliquid quisquam delectus, repellendus
                        ex,
                        rerum ad non soluta laudantium, erit recusandae fugiat? <a href="/noticias">...</a>
                    </p>
                </div>
                <div class="cuadrados">
                    <h4> domingo</h4>
                    <img src="images/estrenos/fifa.jpg" alt="">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi tempore accusamus, dignissimos
                        asperiores pariatur consequatur ducimus consequuntur delectus ratione dolorem eius mollitia
                        atque
                        expedidelenit<a href="/noticias">...</a></p>
                </div>
            </div>
            <div class="proximamente">
                <h2> Proximamente</h2>
                <div class="cuadrados">
                    <h4> lunes</h4>
                    <img src="images/estrenos/forza.jpg" alt="">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab, pariatur! Distinctio voluptate
                        suscipit
                        ipsa a cupiditate aperiam excepturi assumenda cum fugiat? Laudantium incidunt, laboriosam
                        nostrum
                        asperiores repudiandae nobis ducimus autem. Lorem ipsum dolor sit amet consectetur adipisicing
                        elit.
                        Consequuntur vero qui, labore maiores molestias eius neque provident temporibus ea consectetur
                        magnam ut eligendi optio aperiam tempore in assumenda ipsum <a href="/noticias">...</a>.</p>
                </div>
                <div class="cuadrados">
                    <h4>martes</h4>
                    <img src="images/estrenos/halo.jpg" alt="">
                    <p>Lorem ipsum dr, sit amet consectetur adipisicing elit. Reiciendis tempora, eum magni minus
                        praesentium neque enim iste eius voluptate laborum soluta autem voluptatum assumenda iusto
                        cupiditate atque, beatae, explicabo aliquam? <a href="/noticias">...</a></p>
                </div>
            </div>
        </div>
