<h2>juegos</h2>
        <div class="juegos">
            <img src="images/juegos/bioshock.jpg" alt="">
            <img src="images/juegos/gears 5.jpg" alt="">
            <img src="images/juegos/l4d.jpg" alt="">
            <img src="images/juegos/re3.jpg" alt="">
            <img src="images/juegos/ghost.jpg" alt="">
            <img src="images/juegos/infamous 2.jpg" alt="">
            <img src="images/juegos/the last of us.jpg" alt="">
            <img src="images/juegos/uncharted 4.jpg" alt="">
            <img src="images/juegos/kirby.jpg" alt="">
            <img src="images/juegos/mario golf.jpg" alt="">
            <img src="images/juegos/supersmash.jpg" alt="">
            <img src="images/juegos/zelda.jpg" alt="">
        </div>
     