<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>pagina de juego</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,700;1,300&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/normalize.css">
    <link rel="stylesheet" href="/stylesheets/estilojuegos.css">
</head>

<body>
    <header>
        <div class="logo">
            <img src="images/logo.jpg" width="100px" alt="Juegos X2 Pesos">
            <h1 class="h1">Juegos X2 Pesos</h1>
        </div>
        <nav>
            <a href="">ingresar</a>
            <a href="">registrar</a>
            <a href="">carrito</a>
            <form class="d-flex" role="search">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
        </nav>




    </header>
    <nav>
        <ul>
            <li><a class="{{#if isHome}}activo{{/if}}" href="/">Home</a></li>
            <li><a class="{{#if isNoticias}}activo{{/if}}" href="/noticias">Noticias</a></li>
            <li><a class="{{#if isJuegos}}activo{{/if}}" href="/juegos">Juegos</a></li>
            <li><a class="{{#if isNovedades}}activo{{/if}}" href="/novedades">Novedades</a></li>
            <li><a class="{{#if isStreamers}}activo{{/if}}" href="/streamers">Streamers</a></li>
            <li><a class="{{#if isContacto}}activo{{/if}}" href="/contacto">Contacto</a></li>
        </ul>
    </nav>
    <main class="holder">
    {{{body}}}
  </main>
    <footer>
        <p>Diseñado por Matias Galeano -&COPY;2022</p>
    </footer>
</body>

</html>
