        <h2>Reviews</h2>
        <div class="Reviews">
            <h3>xbox</h3>
            <h4>nueva consola</h4>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nemo corporis consequatur, eius soluta dolores
                impedit odit reiciendis aut quia, id pariatur autem sequi fugiat nisi omnis deserunt laudantium eaque
                earum!</p>
            <hr>
        </div>
        <div class="Reviews">
            <h3>playstation</h3>
            <h4>nueva consola</h4>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nemo corporis consequatur, eius soluta dolores
                impedit odit reiciendis aut quia, id pariatur autem sequi fugiat nisi omnis deserunt laudantium eaque
                earum!</p>
            <hr>
        </div>
        <div class="Reviews">
            <h3>nintendo</h3>
            <h4>nueva consola</h4>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nemo corporis consequatur, eius soluta dolores
                impedit odit reiciendis aut quia, id pariatur autem sequi fugiat nisi omnis deserunt laudantium eaque
                earum!</p>
            <hr>
        </div>

