<main class="holder contactos">
<div class="contacto">
            <h3>contacto rapido</h3>
            <form action="/contacto" method="post" class="formulario">
                <p>
                    <label for="nombre">Nombre</label>
                    <input type="text" name="nombre">
                </p>
                <p>
                    <label for="email">Email</label>
                    <input type="text" name="email">
                </p>
                <p>
                    <label for="telefono">Telefono</label>
                    <input type="text" name="tel">
                </p>
                <p>
                    <label for="mensaje">Mensaje</label>
                    <textarea name="mensaje" id="" cols="30" rows="10"></textarea>
                </p>
                <p class="acciones"><input type="submit" value="Enviar" /></p>
            </form>
        </div>
        <div class="datos">
              <h3>Otras vias de contacto</h3>
              <p> Puede contactarse tambien usando los siguientes medios</p>
              <ul>
                <li>Telefono:12345678</li>
                <li>Mail: pagina@pagina.com.ar</li>
                <li>facebook:</li>
                <li>twiter</li>
                <li>skype</li>    
              </ul>  
        </div>

</main>