<h2>Noticias</h2>
        <div class="noticias">
            <img src="images/reviews/nintendo.jpg" alt="">
            <div class="nota">
                <h4>nintendo</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat porro tenetur magnam voluptatem
                    ratione,
                    quia debitis, pariatur reiciendis dignissimos ullam, velit dolores perspiciatis in beatae nemo
                    officia
                    molestiae eos ad.</p>
            </div>
        </div>
        <div class="noticias">
            <img src="images/reviews/xbox.jpg" alt="">
            <div class="nota">
                <h4>xbox</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat porro tenetur magnam voluptatem
                    ratione,
                    quia debitis, pariatur reiciendis dignissimos ullam, velit dolores perspiciatis in beatae nemo
                    officia
                    molestiae eos ad.</p>
            </div>
        </div>
        <div class="noticias">
            <img src="images/reviews/playstation.jpg" alt="">
            <div class="nota">
                <h4>playstation</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat porro tenetur magnam voluptatem
                    ratione,
                    quia debitis, pariatur reiciendis dignissimos ullam, velit dolores perspiciatis in beatae nemo
                    officia
                    molestiae eos ad.</p>
            </div>
        </div>
        <div class="noticias">
            <img src="images/reviews/space invaders.jpg" alt="">
            <div class="nota">
                <h4>space</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat porro tenetur magnam voluptatem
                    ratione,
                    quia debitis, pariatur reiciendis dignissimos ullam, velit dolores perspiciatis in beatae nemo
                    officia
                    molestiae eos ad.</p>
            </div>
        </div>
        <div class="noticias">
            <img src="images/reviews/tetris.jpg" alt="">
            <div class="nota">
                <h4>tetris</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat porro tenetur magnam voluptatem
                    ratione,
                    quia debitis, pariatur reiciendis dignissimos ullam, velit dolores perspiciatis in beatae nemo
                    officia
                    molestiae eos ad.</p>
            </div>
        </div>
        <div class="noticias">
            <img src="images/reviews/tortugas ninjas.jpg" alt="">
            <div class="nota">
                <h4>las tortugas ninjas</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat porro tenetur magnam voluptatem
                    ratione,
                    quia debitis, pariatur reiciendis dignissimos ullam, velit dolores perspiciatis in beatae nemo
                    officia
                    molestiae eos ad.</p>
            </div>
        </div>
