<!DOCTYPE html>
<html>
  <head>
    <title>pagina de prueba</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>pagina de prueba</h1>
    <nav>
      <ul>
        <li><a href="/">home</a></li>
        <li><a href="/servicios">servicios</a></li>
        <li><a href="/galeria">galearia</a></li>
        <li><a href="/contacto">contacto</a></li>
        <li><a href="/nosotros">nosotros</a></li>
      </ul>
    </nav>
    {{{body}}}
  </body>
</html>
